﻿@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section CustomStyles{
    <link href="@Url.Content("~/Scripts/FancyBox/jquery.fancybox.min.css")" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->
    <link href="@Url.Content("~/adminTemplate/vendor/datatables-plugins/dataTables.bootstrap.css")" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/adminTemplate/vendor/datatables-responsive/dataTables.responsive.css")" rel="stylesheet">
}

@section CustomScripts{
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>*@
    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/adminTemplate/vendor/datatables/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/adminTemplate/vendor/datatables-plugins/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/adminTemplate/vendor/datatables-responsive/dataTables.responsive.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/adminTemplate/dist/js/sb-admin-2.js")"></script>

    <script src="@Url.Content("~/Scripts/DataTables/Buttons-1.4.2/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/JSZip-2.5.0/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/pdfmake-0.1.32/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/pdfmake-0.1.32/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/Buttons-1.4.2/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/Buttons-1.4.2/js/buttons.print.js")"></script>

    <script src="@Url.Content("~/Scripts/FancyBox/jquery.fancybox.min.js")"></script>

    <script>
        $(document).ready(function () {
            $("#menuProductIndex").attr("class", "active");
            $("#productGrid").DataTable({
                responsive: true,
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                ajax: "/api/Products",
                "buttons": [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5]
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5]
                        }
                    },
                    {
                        text: 'Create Product',
                        action: function (e, dt, node, config) {
                            bootbox.alert('Button activated');
                        }
                    }
                ],
                columns: [
                    { "data": "Id", "orderable": false },
                    { "data": "Code" },
                    { "data": "Name" },
                    { "data": "Price" },
                    {
                        "data": "Photo", "render": function (data, type, full, meta)
                        {
                            if (full.Photo != null) {
                                return '<a data-fancybox href="/Images/Uploads/' + full.Photo + '"><img width="50px" src="/Images/Uploads/' + full.Photo + '"></a>';
                            }
                            return '';
                        },
                        "orderable": false
                    },
                    { "data": "LastUpdated" },
                    {
                        "render": function (data, type, full, meta)
                        { return '<a class="btn btn-info" href="/Product/ProductEdit/' + full.Id + '">Edit</a>'; },
                        "orderable": false
                    },
                       {
                           data: null, render: function (data, type, row) {
                               return "<a href='#' class='btn btn-danger' onclick=DeleteProduct('" + row.Id + "'); >Delete</a>";
                           },
                           "orderable": false
                       },
                ]
            });

            $("#btnExportTable").click(function () {
                var table = $('#productGrid').DataTable();
                idType = $('#itemsExportTypes').val();
                table.button(idType).trigger();
            });
            $("#btnCopyTable").click(function () {
                var table = $('#productGrid').DataTable();
                table.button('0').trigger();
            });
            $("#btnPrintTable").click(function () {
                var table = $('#productGrid').DataTable();
                table.button('4').trigger();
            });
        });

        function DeleteProduct(Id) {
            bootbox.confirm("Do you want to delete this product?",
                function (result) {
                    //console.log('This was logged in the callback: ' + result);
                    if (result == true) {
                        Delete(Id);
                    }
                });
            return false;
        }

        function Delete(Id) {
            var url = '@Url.Content("~/")' + "Product/DeleteProduct";
            $.post(url, { id: Id }, function (data) {
                if (data.valid == true) {
                    bootbox.alert(data.Message);
                    oTable = $('#productGrid').DataTable();
                    oTable.draw();
                }
                else {
                    bootbox.alert(data.Message);
                }
            });
        }

    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">
        Products                       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        @Html.Partial("~/Views/Partials/_StatusMessagePanelPartial.cshtml")
        @Html.Partial("~/Views/Partials/_DataTableExportPartial.cshtml")
        <table width="100%" class="table table-striped table-bordered table-hover" id="productGrid">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th>LastUpdated</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
