﻿@model ProductCatalogMVCApp.Models.TempProductModel

@{
    ViewBag.Title = "Create Product";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section CustomScripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $("#menuProductCreate").attr("class", "active");
</script>
}

<div class="panel panel-default">
    <div class="panel-heading">
        Create Product                       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                @Html.Partial("~/Views/Partials/_StatusMessagePanelPartial.cshtml")

                @if (ViewBag.PriceShouldBeConfirmed == true)
                {
                    using (Html.BeginForm("ProductPriceConfirm", "Product", FormMethod.Post))
                    {
                    <fieldset>
                        <legend>Do you confirm price to be @Model.Price ?</legend>
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.Price)
                        @Html.HiddenFor(model => model.PhotoPath)
                        <p>
                            <input type="submit" value="Confirm" />
                        </p>
                    </fieldset>
                    }
                }
                else
                {
                    using (Html.BeginForm("ProductCreate", "Product", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Enter Code" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter Name" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Enter Price" })
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                    <div class="form-group">
                        <label>File input</label>
                        <input type="file" name="Photo" id="Photo" />
                        @Html.ValidationMessageFor(model => model.Photo)
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    
                    }
                }
            </div>
        </div>

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
