﻿@model ProductCatalogMVCApp.Models.TempProductModel

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section CustomStyles{
    <link href="@Url.Content("~/Scripts/FancyBox/jquery.fancybox.min.css")" rel="stylesheet" type="text/css">
}

@section CustomScripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/FancyBox/jquery.fancybox.min.js")"></script>
}

<div class="panel panel-default">
    <div class="panel-heading">
        Edit Product                       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                @Html.Partial("~/Views/Partials/_StatusMessagePanelPartial.cshtml")

                @if (ViewBag.PriceShouldBeConfirmed == true)
                {
                    using (Html.BeginForm("ProductEditPriceConfirm", "Product", FormMethod.Post))
                    {
                    @Html.HiddenFor(model => model.Id)
                    <fieldset>
                        <legend>Do you confirm price to be @Model.Price ?</legend>
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.Price)
                        @Html.HiddenFor(model => model.PhotoPath)
                        <p>
                            <input type="submit" value="Confirm" />
                        </p>
                    </fieldset>
                    }
                }
                else
                {
                    using (Html.BeginForm("ProductEdit", "Product", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                    {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Enter Code" })
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter Name" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Enter Price" })
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastUpdated)
                        @Html.DisplayTextFor(m => m.LastUpdated)
                    </div>
                    <div class="form-group">
                        <label>Current Photo</label>
                        @if(!string.IsNullOrEmpty(Model.Photo)){
                        <br/>
                        <a data-fancybox="gallery" href="@Url.Content("~/Images/Uploads/" + Model.Photo + "")">
                        <img width="200px" src="@Url.Content("~/Images/Uploads/" + Model.Photo + "")"></a>
                        <br />
                        }
                        @Html.DisplayTextFor(m => m.Photo)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo)
                        
                        <input type="file" name="Photo" id="Photo" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    
                    }
                }
            </div>
        </div>

    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

