﻿@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Product Catalog App                       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->