﻿<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <select class="form-control" id="itemsExportTypes">
                @*<option value="">Select...</option>*@
                <option value="2">Excel</option>
                <option value="1">Csv</option>
                <option value="3">Pdf</option>
            </select>
            </div>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-sm yellow" id="btnExportTable"><i class="fa fa-download"></i>@*@Html.Translate("{Export}")*@</button>
            <button class="btn btn-sm yellow" id="btnCopyTable"><i class="fa fa-copy"></i></button>
            <button class="btn btn-sm yellow" id="btnPrintTable"><i class="fa fa-print"></i>@*@Html.Translate("{Print}")*@</button>
        
    </div>
</div>
