﻿ @if (TempData["SuccessMessage"] != null)
            { 
                <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        @TempData["SuccessMessage"]
                                    </div>
            }

 @if (TempData["ErrorMessage"] != null)
            { 
                <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        @TempData["ErrorMessage"]
                                    </div>
            }